/* default style */
* {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body {
    font-size: 14px;
    background-color: #7FD6C2;
    max-width: 100%;
}

/* Navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px auto 21px;
}

/* search-bar - Nav */
.search-inp, .search-btn {
    border-style: none;
}

.search-inp {
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    width: 250px;
}

.search-btn {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}

/* login-post-button - Nav */
.login-post-btn {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.login-btn, .post-btn {
    font-size: 14px;
    font-weight: 700;
    background-color: white;
    color: black;
    width: 95px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}

.login-btn {
    margin-right: 15px;
}


.login-btn:hover, .post-btn:hover {
    transform: scale(0.9);
    cursor: pointer;
}



/* Intro section */
.intro {
    display: flex;
    height: 56vh;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.intro .text {
    margin-right: 75px;
    width: 650px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.intro .text .text-out{
    font-size: 48px;
    font-weight: 700;
    line-height: 0.95;
}

.intro .text .text-inside {
    font-size: 15px;
}

/* Notices Section */
.notices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.9vw;
    height: 150vh;
    background-color: #D1EDE7;
    margin-top: 15px;
    transition: all 0.4s ease-in;
}

/* heading - post form */
.notices li{
    text-decoration:none;
    width: 78.9vw;
    background-color: white;
}

/* post content (text) - post form */
.notices h3{
    background-color: white;
}

/* tags - post Form */
.notices h5{
    background-color: white;
    margin-bottom: 15px;
}

/* Post Forms - Notices Section */
.postForm {
    background-color: white;
}

.postForm li {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
}

.postForm h3 {
    font-size: 19px;
}

.postForm h5 {
    font-size: 15px;
}

/* default elements style */
input { 
    background-color: white;
}

button {
    border-style: none;
}