<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Post Info </title>
    <link rel="stylesheet" href="postform.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
     
     
    </div>
    <div id="createPostForm" class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Post Information</div>
          <form action="#">
            <div class="input-boxes">
                <p><label for="info">Post Information</label></p>
              <div class="info">
                <textarea id="post" name="post" rows="7" cols="100"></textarea>
              </div>
              <p><label for="tags">Tags for the post</label></p>
              <div class="tags">
                <textarea id="tag" name="tag" rows="4" cols="100"></textarea>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit" onclick="putThePostOn()">
              </div>
              
            </div>
        </form>
      </div>
       
      </form>
    </div>
    </div>
    </div>
  </div>
  
</body>
</html>