/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7FD6C2;
  padding: 30px;
}
.container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}

.container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}   
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .login-form,
 .signup-form{
  width: calc(100% / 2 - 25px);
}

.form {
  display: flex;
  justify-content: space-between;
}

.forms .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7FD6C2;
}
.forms .signup-form .title:before{
  width: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  width: 770px;
}

.forms .input-boxes{
  margin-top: 30px;
}
.forms  .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 145px;
  margin: 10px 0;
  position: relative;
}
 .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
 .input-box input:focus,
 .input-box input:valid{
  border-color: #7FD6C2;
}
 .input-box i{
  position: absolute;
  color: #7FD6C2;
  font-size: 17px;
}
.forms .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .text a{
  text-decoration: none;
}
.forms .text a:hover{
  text-decoration: underline;
}
.forms .button{
  color: #fff;
  margin-top: 40px;
}
.forms .button input{
  color: #fff;
  background: #7FD6C2;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 150px;
}
.forms .button input:hover{
  background: #333;
  scale: 0.95;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.input-box:hover {
  transform: scale3d(0.9);
  transition-duration: 0.3s;
}

#post,  #tag {
  padding: 7px;
}

.forms label{
  color: #7FD6C2;
  cursor: pointer;
}
.forms label:hover{
  text-decoration: underline;
}
.forms .login-text,
.forms .sign-up-text{
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
   .login-form,
   .signup-form{
    width: 100%;
  }
   .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .container #flip:checked ~ .forms .login-form{
    display: none;
  }
}